---
- name: Prepare Variables
  ansible.builtin.include_tasks: prepare_variables.yaml

- name: Deploy showroom (single user)
  when: not _showroom_user_data.users is defined
  vars:
    _showroom_namespace: "{{ ocp4_workload_showroom_namespace }}"
    _showroom_vars: "{{ _showroom_global_data | combine({'guid': guid}) }}"
  ansible.builtin.include_tasks: deploy_showroom.yaml

- name: Deploy showroom (multi user)
  when: _showroom_user_data.users is defined
  vars:
    _showroom_user: "{{ _showroom_users_item.key }}"
    _showroom_namespace: "{{ ocp4_workload_showroom_namespace }}-{{ _showroom_user }}"
    _showroom_vars: >-
      {{
        _showroom_global_data
        | combine(
            _showroom_users_item.value,
            {'guid': guid, 'user': _showroom_user},
            recursive=True
          )
      }}
  ansible.builtin.include_tasks: deploy_showroom.yaml
  loop: "{{ _showroom_user_data.users | dict2items }}"
  loop_control:
    loop_var: _showroom_users_item
    label: "{{ _showroom_users_item.key }}"

- name: Report Variables to user_data (single user)
  when: not _showroom_user_data.users is defined
  vars:
    _showroom_vars: "{{ _showroom_global_data | combine({'guid': guid}) }}"
    _showroom_namespace: "{{ ocp4_workload_showroom_namespace }}"
  ansible.builtin.include_tasks: report_variables.yaml

- name: Report Variables to user_data (multi user)
  when: _showroom_user_data.users is defined
  vars:
    _showroom_user: "{{ _showroom_users_item.key }}"
    _showroom_namespace: "{{ ocp4_workload_showroom_namespace }}-{{ _showroom_user }}"
    _showroom_vars: >-
      {{
        _showroom_global_data
        | combine(
            _showroom_users_item.value,
            {'guid': guid, 'user': _showroom_user},
            recursive=True
          )
      }}
  ansible.builtin.include_tasks: report_variables.yaml
  loop: "{{ _showroom_user_data.users | dict2items }}"
  loop_control:
    loop_var: _showroom_users_item
    label: "{{ _showroom_users_item.key }}"
