---
# Connection to cluster to deploy to. Only set when deploying to a remote cluster.
# ocp4_workload_showroom_openshift_api_token: "{{ cluster_admin_agnosticd_sa_token }}"
# ocp4_workload_showroom_openshift_api_url: "{{ sandbox_openshift_api_url}}"

ocp4_workload_showroom_name: "showroom"
ocp4_workload_showroom_namespace: "showroom-{{ guid | default('00000') }}"

# Content repository to be rendered as lab instructions
ocp4_workload_showroom_content_git_repo: https://github.com/rhpds/showroom_template_default.git
ocp4_workload_showroom_content_git_repo_ref: main

# Which Antora Playbook to use in the content repo
ocp4_workload_showroom_content_antora_playbook: default-site.yml

# Which terminal to deploy:
# - wetty: deploy the wetty terminal image. You can then set
#          ocp4_workload_showroom_wetty_ssh_bastion_login to true
#          to automatically ssh to a bastion
# - showroom: deploy the showroom terminal image
# - "": No terminal deployed
ocp4_workload_showroom_terminal_type: showroom

# Requests and limits for the terminal pod (same vars for either showroom or wetty)
ocp4_workload_showroom_terminal_requests_cpu: 50m
ocp4_workload_showroom_terminal_requests_memory: 256Mi
ocp4_workload_showroom_terminal_limits_cpu: 500m
ocp4_workload_showroom_terminal_limits_memory: 1Gi

ocp4_workload_showroom_content_image: quay.io/rhpds/showroom-content:v1.3.0

# Showroom Terminal Image. Options include:
# - quay.io/rhpds/openshift-showroom-terminal-ocp:latest
# - quay.io/rhpds/openshift-showroom-terminal-rosa:latest
# - quay.io/rhpds/openshift-showroom-terminal-aro:latest
ocp4_workload_showroom_terminal_image: quay.io/rhpds/openshift-showroom-terminal-ocp:latest

# Wetty Image
ocp4_workload_showroom_wetty_image: quay.io/rhpds/wetty:v2.5

# Log into bastion automatically from wetty
# applies to both primary and seconary wetty terminals
ocp4_workload_showroom_wetty_ssh_bastion_login: false

# Deploy a VNC client in a new tab
ocp4_workload_showroom_novnc_enable: false
ocp4_workload_showroom_novnc_vnc_server_hostport: 128.0.0.1:5900
ocp4_workload_showroom_novnc_vnc_server_password: password
ocp4_workload_showroom_novnc_image: ghcr.io/rhpds/showroom-novnc:latest
ocp4_workload_showroom_novnc_requests_cpu: 50m
ocp4_workload_showroom_novnc_requests_memory: 256Mi
ocp4_workload_showroom_novnc_limits_cpu: 550m
ocp4_workload_showroom_novnc_limits_memory: 256Mi

# The service name to look for when waiting for the created route
# Usually `showroom-proxy` for multi-pod deployment and `showroom` for single pod deployment
ocp4_workload_showroom_service_name: "{{ ocp4_workload_showroom_name }}"

# Helm Chart to use for Showroom. This needs to be a packaged chart in a registry.
# For the example below the source registry is https://github.com/rhpds/showroom-deployer
ocp4_workload_showroom_chart_package_url: https://rhpds.github.io/showroom-deployer
ocp4_workload_showroom_deployer_chart_name: showroom-single-pod
# Available versions are at https://github.com/rhpds/showroom-deployer/releases
# TODO: Lock to a specific version when we have a stable version
ocp4_workload_showroom_deployer_chart_version: "^2.0.0"

ocp4_workload_showroom_zero_touch_bundle: "https://github.com/rhpds/nookbag/releases/download/nookbag-v0.2.2/nookbag-v0.2.2.zip"
ocp4_workload_showroom_zero_touch_ui_enabled: true

# Enable passthrough of agnosticd_passthrough_user_data to individual users
ocp4_workload_showroom_passthrough_user_data: false
